.ultp-block-content-overlay {
    position: relative;
    transition: 400ms;
    .ultp-block-content {
        position: absolute;
        top:0;
        left: 0;
        height: 100%;
        width: 100%;
        pointer-events: none;
        display: flex;
        z-index: 2;
        .ultp-block-content-inner {
            width: 100%;
        }
        .ultp-category-grid,
        .ultp-block-title a,
        .ultp-block-readmore a {
            pointer-events: auto;
        }
    }
}

.wp-block-ultimate-post-post-grid-2 .ultp-block-item .ultp-block-empty-image,
.wp-block-ultimate-post-post-grid-3 .ultp-block-item .ultp-block-empty-image,
.wp-block-ultimate-post-post-grid-4 .ultp-block-item .ultp-block-empty-image {
    width: 100%;
    object-fit: cover;
    background: #353535;
}
