.wp-block-ultimate-post-post-list-3 {
    .ultp-block-content {
        display: block;
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    }
}
.ultp-block-content {
    .ultp-block-readmore {
        a {
            &:hover {
                text-decoration: none;
            }
        }
    }
    .ultp-block-excerpt {
        overflow-wrap: break-word;
        word-wrap: break-word;
        -ms-word-break: break-all;
        word-break: break-all;
        word-break: break-word;
        p {
            margin: 0;
            overflow-wrap: break-word;
            word-wrap: break-word;
            -ms-word-break: break-all;
            word-break: break-all;
            word-break: break-word;
        }
    }
}

@media (max-width: 992px) {
    .wp-block-ultimate-post-post-list-3 {
        .ultp-block-media{
            .ultp-block-content-wrap {
                display: block;
            }
        }
    }
}
.ultp-block-content-true,
.ultp-block-content-1 {
    .ultp-block-media {
        .ultp-block-content-wrap {
            flex-direction: row-reverse;
        }
    }
}