.wp-block-ultimate-post-post-grid-4 {
    .ultp-block-row {
        grid-template-columns: 60% auto;
        .ultp-block-item {
            &:first-child {
                grid-column-start: 1;
                grid-row-start: 1;
                grid-row-end: 3;
            }
        }
    }
}

@media (max-width: 768px) {
    .wp-block-ultimate-post-post-grid-4 {
        .ultp-block-row{
            grid-template-columns: repeat(1, 1fr);
        }
    }
}