//media
.ultp-block-media {
    display: flex;
    .ultp-block-image {
        overflow: hidden;
        position: relative;
    }
    .ultp-block-content {
        flex: 1;
    }
}


//block 4 special
.wp-block-ultimate-post-post-list-2 {
    .ultp-block-item {
        .ultp-block-content {
            display: block;
        }
        &:not(:first-child) {
            .ultp-block-title {
                font-size: 16px;
                line-height: 1;
            }
        }
        &:first-child {
            .ultp-block-content-wrap {
                display: block;
            }
            margin-bottom: 50px;
            .ultp-block-title {
                font-size: 22px;
                line-height: 1;
            }
            .ultp-block-image {
                margin-bottom: 15px;
                img {
                    max-width: 100%;
                }
            }
            .ultp-block-content {
                flex: auto;
                margin-left: 0;
            }
        }
        &:last-of-type {
            margin-bottom: 0 !important;
            padding-bottom: 0 !important;
            border-bottom: none !important;
        }
    }
}

@media (max-width: 992px) {
    .wp-block-ultimate-post-post-list-2 {
        .ultp-block-media{
            display: block;
            .ultp-block-content-wrap {
                display: block;
            }
        }
    }
}