@media (min-width: 992px) {
    .ultp-block-column-1 .ultp-block-item:last-child,
    .ultp-block-column-2 .ultp-block-item:nth-last-child(-n+2),
    .ultp-block-column-3 .ultp-block-item:nth-last-child(-n+3),
    .ultp-block-column-4 .ultp-block-item:nth-last-child(-n+4),
    .ultp-block-column-5 .ultp-block-item:nth-last-child(-n+5),
    .ultp-block-column-6 .ultp-block-item:nth-last-child(-n+6),
    .ultp-block-column-7 .ultp-block-item:nth-last-child(-n+7){
        border: none !important;
        padding-bottom: 0 !important;
    }
}