/* -----------------------------
------ PopUp Gutenberg -------
--------------------------------*/
.is-hide{
    display: none;
}
.ultp-builder-modal{
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.8);
    z-index: 100000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    .ultp-popup-wrap {
        margin: 50px auto 0;
        background-color: #fbfcff;
        height: 90%;
        overflow-y: scroll;
    }
    .ultp-popup-header{
        position: sticky;
        top: 0;
        z-index: 100000000999;

        .ultp-popup-filter-title{
            position: absolute;
            width: 100%;
            > div {
                text-align: right;
            }
            .ultp-popup-filter-nav {
                margin-right: auto;
                margin-left: 25px;
                span{
                    padding: 15px 25px;
                    display: inline-block;
                    font-weight: 700;
                    border-radius: 4px 4px 0 0;
                    font-size: 16px;
                    margin-bottom: -1px;
                    margin-left: 5px;
                    &.ultp-active{
                        background-color: #f3f4f7;
                        border: 1px solid #d3d6dc;
                        border-bottom: none;
                    }
                    &:hover{
                        cursor: pointer;
                    }
                }
            }
            .ultp-btn-close {
                border: none;
                box-shadow: none;
                cursor: pointer;
                padding: 0;
                height: 25px;
                width: 25px;
                line-height: 1;
                color: white;
                background: #f00;
                -webkit-transition: .3s;
                transition: .3s;
                top: 5px;
                right: 5px;
                position: relative;
                border-radius: 100px;
                &:hover {
                    color: #000;
                }
                span {
                    font-size: 16px;
                    width: auto;
                    height: auto;
                    vertical-align: middle;
                }
                &:focus {
                    outline: 0;
                }
            }
        }
        .ultp-popup-filter{
            padding: 30px 5px;
            max-width: 600px;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
            .ultp-popup-filter-field{
                width: 50%;
                display: inline-block;
                padding: 0 10px;
                select{
                    box-shadow: none;
                    width: 100%;
                    font-size: 16px;
                    line-height: 0;
                    padding: 15px;
                    height: 39px;
                    border: 1px solid #e9ebee;
                }
                input{
                    box-shadow: none;
                    width: 100%;
                    padding: 10px 15px;
                    font-size: 16px;
                    border-radius: 6px;
                    border: 1px solid #e9ebee;
                }
            }
        }
    }

    .ultp-popup-content{
        padding: 40px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;
        .ultp-popup-item{
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            border: 1px solid #e9ebee;
            padding: 15px;
            background: #fff;
            box-shadow: 5px 5px 30px 0px rgba(25,30,35,.1);
            z-index: 99999999;
            border-radius: 4px;
            .LazyLoad {
                img {
                    max-height: 408px;
                    object-fit: cover;
                    width: 100%;
                }
            }
        }
        .ultp-popup-title{
            font-size: 16px;
            font-weight: 600;
        }
        .LazyLoad {
            margin-bottom: auto;
        }
        .ultp-popup-info{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            border-top: 1px solid #e9ebee;
            margin: 15px -15px -15px;
            padding: 10px 15px;
            width: 100%;
            align-items: center;
            .ultp-popup-title {
                margin-right: auto;
            }
            .ultp-action-btn {
                button {
                    border: none;
                    padding: 9px 20px 11px;
                    border-radius: 3px;
                    width: auto;
                    font-size: 12px;
                    font-weight: 500;
                    color: #fff;
                    background-color: #1740f5;
                    -webkit-box-shadow: inset 0 -2px 3px #102ca9;
                    box-shadow: inset 0 -2px 3px #102ca9;
                    margin-left: 4px;
                    text-align: center;
                    -webkit-transition: .4s;
                    transition: .4s;
                    cursor: pointer;
                    margin-right: 15px;
                    &:hover {
                        background-color: #1337d8;
                        -webkit-box-shadow: inset 0 -2px 3px #1332bd;
                        box-shadow: inset 0 -2px 3px #1332bd;
                        cursor: pointer;
                    }
                }
                a.ultp-popup-btn {
                    color: #163ff5;
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

/* Button */
.ultp-popup-button { 
    border: none;
    padding: 9px 20px 11px;
    border-radius: 3px;
    display: table;
    width: auto;
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    background-color: #1740f5;
    -webkit-box-shadow: inset 0 -2px 3px #102ca9;
    box-shadow: inset 0 -2px 3px #102ca9;
    margin-left: 4px;
    text-align: center;
    transition: 400ms;
    cursor: pointer;
    &:hover {
        background-color: #1337d8;
        -webkit-box-shadow: inset 0 -2px 3px #1332bd;
        box-shadow: inset 0 -2px 3px #1332bd;
    }
    i {
        font-size: 14px;
        width: auto;
        height: auto;
        margin-right: 5px;
        position: relative;
        top: 1px;
    }
    &.active{
        background: #0085ba;
        border-color: #006a95 #00648c #00648c;
        -webkit-box-shadow: inset 0 -1px 0 #00648c;
        box-shadow: inset 0 -1px 0 #00648c;
        color: #fff;
        text-decoration: none;
    }
    &:focus {
        outline: 0;
    }
    svg {
        width: 16px;
        height: 100%;
    }
    &:hover{
        cursor: pointer;
    }
}


@media (min-width: 1440px) {
    .ultp-builder-modal {
        .ultp-popup-wrap {
            width: 100%;
            max-width: 1050px;
        }
    }
}
@media (max-width: 1439px) {
    .ultp-builder-modal {
        .ultp-popup-wrap {
            width: 100%;
            max-width: 950px;
        }
    }
}
@media (max-width: 768px) {
    .ultp-builder-modal .ultp-popup-content {
        grid-template-columns: 1fr;
    }
}

/* -----------------------------
------ Default Gutenberg -------
--------------------------------*/
#editor .wp-block {
    max-width: unset;
    width: 100%;
}
/* sidebar input */
.is-sidebar-opened {
    .components-base-control__field {
        .components-textarea-control__input,
        .components-text-control__input {
            border: 1px solid #ccc;
        }
    }
}

.edit-post-sidebar input[type=number] {
    border-color:#ccc;
}

/* -----------------------------
-------- Common Style ---------
--------------------------------*/
.ultp-field-wrap {
    padding-bottom: 16px;
    clear: both;
    .ultp-sub-field {
        margin-top: 10px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}

/* device */
.ultp-device {
    > button {
        padding: 0px 2px;
        border: none;
        cursor: pointer;
        font-weight: 200;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        line-height: 1;
        font-family: dashicons;
        font-size: 13px;
        color: #656565;
        &.ultp-device-large::before{
            content: "\f472";
        }
        &.ultp-device-medium::before{
            content: "\f547";
        }
        &.ultp-device-small::before{
            content: "\f471";
        }
        &.ultp-device-extra-small::before{
            content: "\f470";
        }
        &.active{
            color: #009fd4;
        }
        &:focus{
            outline: 0;
            box-shadow: none;
        }
    }
}

/* Button */
.ultp-button{
    border: 1px solid #ccc;
    padding: 0 8px;
    border-radius: 3px;
    display: table;
    width: auto;
    line-height: 26px;
    height: 26px;
    font-size: 12px;
    font-weight: 500;
    color: #555;
    background: #fff;
    -webkit-box-shadow: inset 0 -1px 0 #ccc;
    box-shadow: inset 0 -1px 0 #ccc;
    margin-left: 4px;
    text-align: center;
    &.active{
        background: #0085ba;
        border-color: #006a95 #00648c #00648c;
        -webkit-box-shadow: inset 0 -1px 0 #00648c;
        box-shadow: inset 0 -1px 0 #00648c;
        color: #fff;
        text-decoration: none;
    }
    svg {
        width: 16px;
        height: 100%;
    }
    &:hover{
        cursor: pointer;
    }
}

/* Button Group */
.ultp-button-group {
    border-radius: 3px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 96px;
    align-items: center;
    .ultp-base-control-btn {
        font-size: 14px;
        line-height: 1;
        width: auto;
        height: auto;
        margin-right: 8px;
        cursor: pointer;
        &.active {
            color: #e62222;
        }
    }
    >div{
        display: inline-flex;
        width: 100%;
    }
    span {
        cursor: pointer;
        padding: 0;
        display: inline-block;
        height: 26px;
        line-height: 26px;
        width: 100%;
        text-align: center;
        border: 1px solid #d4d4d4;
        -webkit-box-shadow: inset 0 -1px 0 #ccc;
        box-shadow: inset 0 -1px 0 #ccc;
        background: #eee;
        border-radius: 3px 0 0 3px;
        &:last-child {
            border-left: none;
            border-radius: 0 3px 3px 0;
        }
        i {
            font-size: 14px;
            line-height: 24px;
            width: auto;
            height: auto;
        }
        svg {
            margin-top: 6px;
            g {
                fill: #555d66;
            }
        }
        &.active {
            background: #0085ba;
            border-color: #006a95 #00648c #00648c;
            -webkit-box-shadow: inset 0 -1px 0 #00648c;
            box-shadow: inset 0 -1px 0 #00648c;
            color: #fff;
            text-decoration: none;
            svg g {
                fill: #fff;
            }
        }
    }
}

/* panel */
.ultp-panel-wrap {
    .ultp-text-area {
        .components-base-control {
            .components-base-control__field{
                display: block;
                .components-base-control__label {
                    margin-bottom: 8px;
                    flex-grow: unset;
                }
            }
        }
    }
}

/* -----------------------------
-------- Tabs Style ---------
--------------------------------*/
.ultp-tab-wrap-title {
    margin-top: 2px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 600;
    color: #3e3e3e;
    letter-spacing: 0.5px;
    font-size: 13px;
    position: relative;
    span {
        background: #f5f5f5;
        padding: 0 10px 0 0;
        position: relative;
    }
    &:before {
        position: absolute;
        content: "";
        width: 100%;
        height: 1px;
        background: #c2c5c7;
        left: 0;
        top: 50%;
    }
}
.ultp-hover-tabs {
    padding-top: 0;
    margin-top: -5px;
    .components-tab-panel__tabs {
        margin-bottom: 20px;
        button {
            background: transparent;
            border: 0;
            border: 1px solid #e5e5e5;
            border-bottom: 2px solid transparent;
            padding: 8px 12px;
            margin-bottom: -2px;
            outline: 0;
            color: #575757;
            width: 50%;
            font-size: 14px;
            font-weight: 500;
            cursor: pointer;
            &.active-tab {
                border-bottom-color: #00648c;
                color: #ffffff;
                background: #0085ba;
                &:focus {
                    outline: 0;
                    outline-offset: 0;
                    box-shadow: none;
                    background: #0085ba;
                    color: #fff;
                }
            }
            &:focus {
                outline: 0;
                outline-offset: 0;
                box-shadow: none;
                background: #0085ba;
                color: #fff;
            }
        }
    }
}
.ultp-inspect-tabs{
    padding-top: 10px;
    .components-tab-panel__tabs {
        border-bottom: 2px solid #d4d4d4;
        background: #eee;
        button {
            background: transparent;
            border: 0;
            border-bottom: 2px solid transparent;
            padding: 8px 12px;
            margin-bottom: -2px;
            outline: 0;
            font-weight: 500;
            cursor: pointer;
            display: inline-block;
            text-align: center;
            &.active-tab {
                border-bottom-color: #00648c;
                color: #ffffff;
                background: #0085ba;
            }
        }   
    }
}
.components-range-control {
    margin: 0 0 2px 0 !important; 
    .components-base-control__field {
        margin-bottom: 2px !important; 
    }
}

// .block-editor-block-icon svg {
//     min-width: auto;
//     min-height: auto;
//     max-width: inherit;
//     max-height: inherit;
// }
// .block-editor-block-icon {
//     svg {
//         min-width: 34px;
//         max-width: 34px;
//     }
// }


/* -----------------------------
-------- Tag Style ---------
--------------------------------*/
.ultp-field-tag {
    .ultp-button {
        height: 26px;
        line-height: 26px;
        padding: 0 4px;
    }
}

/* -----------------------------
-------- Divider Style ---------
--------------------------------*/
.ultp-field-divider {
    margin-bottom: 22px;
    .ultp-field-label{
        z-index: 1;
        position: relative;
        background-color: #fff;
        width: fit-content;
        padding-right: 12px;
    }
    hr{
        position: relative;
        top: -8px;
        margin: 0;
        border-top: none;
        border-bottom: 1px solid #cccccc;
    }
}

/* -----------------------------
-------- Template Style ----------
--------------------------------*/
.ultp-field-template {
    margin-top: -10px;
    .ultp-sub-field-template {
        padding: 0;
        .ultp-field-template-item {
            box-shadow: 0 0 5px 1px rgba(0,0,0,.1);
            margin-bottom: 20px;
            padding: 0;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            border: 3px solid transparent;
            border-radius: 3px;
            cursor: pointer;
            transition: 400ms;
            display: block;
            line-height: 0;
            position: relative;
            span {
                line-height: 1;
                position: absolute;
                left: 0;
                top: 0;
                padding: 2px 8px 6px;
                background: #0085ba;
                color: #fff;
                border-radius: 0 0 3px 0;
                font-size: 10px;
                text-transform: uppercase;
                font-weight: 600;
                opacity: 0;
                transition: 400ms;
            }
            &:hover {
                border: 3px solid #0085ba;
                span {
                    opacity: 1;
                }
            }
        }
    }
}

/* -----------------------------
-------- Toggle Style ----------
--------------------------------*/
.ultp-field-toggle{
    .ultp-sub-field{
        float: right;
        margin-top: 0;
        .components-form-toggle {
            margin-right: 0;
        }
    }
}
/* Popup toggle */
.ultp-panel-wrap,
.ultp-common-popup {
    .components-toggle-control {
        .components-base-control__field {
            grid-template-columns: max-content;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: reverse;
            -webkit-flex-direction: row-reverse;
            flex-direction: row-reverse;
            .components-form-toggle {
                margin: 0;
            }
        }
        .components-toggle-control__label {
            -webkit-box-flex: 0;
            -webkit-flex: 0 0 86%;
            flex: 0 0 86%;
            max-width: 86%;
            font-weight: 400;
            font-size: 13px;
            color: #545454;
            margin: 0;
        }
    }
}

/* -----------------------------
---------- Link Style ----------
--------------------------------*/
.ultp-field-link {
    .ultp-sub-field {
        input {
            -ms-flex-positive: 1;
            flex-grow: 1;
            border: 1px solid #ccc;
            border-radius: 3px;
        }
        .ultp-button {
            line-height: 28px;
            height: 28px;
            margin-top: 1px;
        }
    }
}

/* -----------------------------
-------- Separator ---------
--------------------------------*/
.ultp-field-separator {
    > div {
        position: relative;
        margin: 20px 0 15px;
        text-align: center;
        span{
            background: #fff;
            padding: 0 12px;
            position: relative;
            margin-left: 0;
            font-weight: 600;
            font-size: 11px;
            text-transform: uppercase;
            letter-spacing: 3px;
            color: #1740f5;
        }
        &:before,
        &:after {
            position: absolute;
            content: "";
            height: 1px;
            background: #c9d3fd;
            top: 50%;
        }
        &:before {
            width: 100%;
            right: 0;
        }
        // &:after {
        //     width: 3px;
        //     left: 0;
        //     height: 14px;
        //     top: 2px;
        //     background: #1740f5;
        // }
    }
}

/* -----------------------------
------- Radio Image Style -------
--------------------------------*/
.ultp-field-radio-image{
    .ultp-sub-field{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 6px;
        grid-row-gap: 6px;
        span{
            line-height: 0;
            font-size: 0;
            img{
                border-radius: 4px;
                -webkit-box-shadow: 0 0 0 1px #d8d8d8;
                box-shadow: 0 0 0 1px #d8d8d8;
                cursor: pointer;
                &.active{
                    -webkit-box-shadow: 0 0 0 1px #00648c;
                    box-shadow: 0 0 0 1px #00648c;
                }
            } 
        }
    }
}

/* -----------------------------
--------- Color Style ----------
--------------------------------*/
.ultp-field-color {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    > label{
        -ms-flex-positive: 1;
        flex-grow: 1;
        font-weight: 400;
        font-size: 13px;
        color: #545454;
        letter-spacing: .2px;
    }
    .ultp-control-button{
        width: 25px;
        height: 22px;
        border-radius: 3px;
        box-shadow: 0px 0px 0px 1px #ccc;
        display: inline-block;
        background-image: linear-gradient(45deg, #c5c5c5 25%, transparent 0), linear-gradient(-45deg, #c5c5c5 25%, transparent 0), linear-gradient(45deg, transparent 75%, #c5c5c5 0), linear-gradient(-45deg, transparent 75%, #c5c5c5 0);
        background-size: 10px 10px;
        background-position: 0 0,0 5px,5px -5px,-5px 0;
        cursor: pointer;
    }
    .ultp-clear{
        margin-top: 6px;
        margin-right: 4px;
        font-size: 14px;
        color: #e21111;
        cursor: pointer;
        display: inline-block;
    }
} 

/* -----------------------------
-------- Color2 Style ----------
--------------------------------*/
.ultp-field-color-advanced-wrap {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 20px;
    .ultp-color-advanced-label {
        -ms-flex-positive: 1;
        -webkit-box-flex: 1;
        flex-grow: 1;
        font-weight: 400;
        font-size: 13px;
        color: #545454;
        letter-spacing: .2px;
    }
}

/* -----------------------------
------- radio image --------
--------------------------------*/
.ultp-field-radio-image {
    display: flex;
    label {
        margin-right: auto;
    }
    .ultp-field-radio-image-content {
        display: flex;
        > div {
            span {
                background: #f3f4f5;
                padding: 6px 12px;
                border: 1px solid #e2e4e7;
                border-radius: 2px;
                margin-left: 1px;
                cursor: pointer;
                &.active {
                    background-color: #1740f5;
                    border: 1px solid #1740f5;
                    color: #fff;
                }
            }
        }
    }
}


/* -----------------------------
------- Dimension Style --------
--------------------------------*/
.ultp-field-dimension{
    .ultp-dimension-input {
        margin-top: 10px;
        overflow: hidden;
        > span{
            float: left;
            width: 25%;
            input{
                max-width: 100%;
                padding: 0;
                margin: 0;
                text-align: center;
                &:focus {
                    outline: 0;
                    box-shadow: none;
                    border-color: #666d75;
                }
            }
            &:not(:last-child) input{
                border-radius: 0;
                border-right: none;
            }
            input + span{
                font-size: 8px;
                text-transform: uppercase;
                color: #a7a7a7;
                font-weight: 500;
                letter-spacing: .5px;
            }
            &:first-child input{
                border-radius: 2px 0 0 2px;
            }
            &:last-child input{
                border-radius: 0 2px 2px 0;
            }
        }
        > button{
            width: 20%;
            line-height: 28px;
            height: 30px;
            background: #8d96a0;
            border-top: none;
            border-right: none;
            border-bottom: none;
            border-left: none;
            cursor: pointer;
            transition: 400ms;
            border-radius: 0 3px 3px 0;
            &:hover {
                background: #666d75;  
            }
            > span {
                line-height: 26px;
                font-size: 16px;
                color: #fff;
            }
            &:focus {
                outline: 0;
            }
        }
        &.ultp-base-control-hasLock > span{
            width: 20%;
            text-align: center;
        }
    }
}


/* -----------------------------
--------- Range Style ----------
--------------------------------*/
$track-color: #E5E7EA;
$thumb-color: #606871;
$thumb-radius: 8px;
$thumb-height: 12px;
$thumb-width: 12px;
$thumb-border-width: 1px;
$thumb-border-color: white;

$track-width: 100%;
$track-height: 3px;
$track-shadow-size: 2px;
$track-shadow-blur: 2px;
$track-shadow-color: #222;
$track-border-width: 0px;
$track-border-color: black;

$track-radius: 15px;
$contrast: 5%;

@mixin track(){
    width: $track-width;
    height: $track-height;
    cursor: pointer;
    animate: 0.2s;
}

@mixin thumb(){
    border: $thumb-border-width solid $thumb-border-color;
    height: $thumb-height;
    width: $thumb-width;
    border-radius: $thumb-radius;
    background: $thumb-color;
    cursor: pointer;
}

.ultp-field-range {
    > label{
        width: 100%;
        margin-bottom: 0;
    }
    .ultp-range-control {
        margin-top: 12px;
    }
}

.ultp-label-control {
    label {
        font-weight: 400;
        font-size: 13px;
        color: #545454;
        display: inline-block;
        margin-right: 5px;
    }
}
.ultp-device {
    display: inline-block;
    position: relative;
    top: 3px;
}
.ultp-range-control {
    text-align: right;
}
.ultp-unit-control {
    display: inline-block;
    position: relative;
    button {
        line-height: 18px;
        border: none;
        font-size: 10px;
        color: #87888A;
        text-transform: uppercase;
        background: transparent;
        cursor: pointer;
        padding: 0 3px;
        &.active {
            color: #009fd4;
        }
        &:focus {
            outline: 0;
            box-shadow: none;
        }
    }
}
.ultp-label-control {
    display: flex;
    .ultp-device {
        -ms-flex-positive: 1;
        flex-grow: 1;
    }
}
.ultp-range-input {
    display: flex;
    margin-top: -12px;
    > *:not(:last-child){
        margin-right: 8px;
    }
    input[type="number"]{
        width: 60px !important;
    }
    input[type=range] {
        -webkit-appearance: none;
        margin-top: $thumb-height/2;
        margin-bottom: $thumb-height/2;
        width: $track-width;
        padding-left: 0;
        padding-right: 0;
        background: transparent;

        &::-webkit-slider-runnable-track {
            @include track();
            background: $track-color;
            border-radius: $track-radius;
            border: $track-border-width solid $track-border-color;
        }

        &::-webkit-slider-thumb {
            @include thumb();
            -webkit-appearance: none;
            margin-top: ((-$track-border-width * 2 + $track-height) / 2) - ($thumb-height / 2);
        }

        &:focus::-webkit-slider-runnable-track {
            background: lighten($track-color, $contrast);
        }

        &::-moz-range-track {
            @include track();
            background: $track-color;
            border-radius: $track-radius;
            border: $track-border-width solid $track-border-color;
        }
        &::-moz-range-thumb {
            @include thumb();
        }

        &::-ms-track {
            @include track();
            background: transparent;
            border-color: transparent;
            border-width: $thumb-width 0;
            color: transparent;
        }

        &::-ms-fill-lower {
            background: darken($track-color, $contrast);
            border: $track-border-width solid $track-border-color;
            border-radius: $track-radius*2;
        }
        &::-ms-fill-upper {
            background: $track-color;
            border: $track-border-width solid $track-border-color;
            border-radius: $track-radius*2;
        }
        &::-ms-thumb {
            @include thumb();
        }
        &:focus::-ms-fill-lower {
            background: $track-color;
        }
        &:focus::-ms-fill-upper {
            background: lighten($track-color, $contrast);
        }
    }
} 

/* -----------------------------
--------- Select Style ----------
--------------------------------*/
.ultp-field-select {
    display: block;
    .ultp-device {
        margin-left: 5px;
        >button {
            padding: 0 1px;
        }
    }
    .ultp-multiple-value {
        > span {
            background-color: rgba(23,64,245,.1);
            border-radius: 2px;
            border: 1px solid rgba(23, 64, 245, 0.15);
            color: #1740f5;
            padding: 1px 5px 3px;
            font-size: 11px;
            line-height: 15px;
            margin-right: 4px;
            margin-top: 2px;
            margin-bottom: 2px;
            display: inline-block;
            span.ultp-select-close {
                cursor: pointer;
                margin-left: 4px;
                font-size: 12px;
                color: #bf5353;
            }
        }
    }
}
.ultp-popup-select {
    position: relative;
    .ultp-selected-text{
        display: block;
        cursor: pointer;
        border: 1px solid #ccc;
        padding: 4px 10px;
        line-height: 18px;
        border-radius: 4px;
        margin-top: 6px;
        min-height: 29px;
        .ultp-search-value {
            overflow: hidden;
            white-space: pre-wrap;
            text-overflow: ellipsis;
            font-size: 12px;
        }
    }
    .ultp-search-icon{
        position: absolute;
        right: 10px;
        i{
            padding: 0;
            margin-left: 0px;
            font-size: 13px;
            line-height: 20px;
            width: 15px;
        }
    }
    &::after{
        content: '';
        clear: both;
    }
    ul{
        position: absolute;
        right: 0;
        top: 30px;
        background: #fff;
        z-index: 9999;
        margin: 0;
        padding: 10px 12px;
        border-radius: 4px;
        -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
        max-height: 150px;
        overflow: auto;
        border: 1px solid #d8d8d8;
        min-width: 100%;
        li{
            margin: 0;
            padding: 2px 5px;
            white-space: nowrap;
            cursor: pointer;
            font-size: 11px;
            transition: 400ms;
            border-radius: 2px;
            &:hover{
                color: #fff;
                background: #163ff4;
                svg{
                    fill: #fff;
                }
            }
            svg{
                width: 10px;
                float: right;
                margin-top: 3px;
            }
        }
    }
    .select-options-wraper{
        width: 100%;
    }
}

.ultp-select-parent:not(:last-child){
    margin-bottom: 20px;
}

/* -----------------------------
------- Alignment Style --------
--------------------------------*/
.ultp-field-alignment {
    .ultp-button {
        font-size: 14px;
        line-height: 26px;
    }
    .ultp-device {
        top: 5px;
        margin-left: 5px;
    }
}

/* -----------------------------
------- Separator Style --------
--------------------------------*/
.ultp-field-separator{
    
}

/* -----------------------------
------- Gradient Style --------
--------------------------------*/
.ultp-field-gradient {
    .ultp-common-popup {
        .ultp-field-color {
            margin-bottom: 20px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

/* -----------------------------
------- Typography Style --------
--------------------------------*/
.ultp-typo-slide,
.ultp-common-popup {
    .ultp-field-wrap {
        margin-bottom: 16px;
    }
}
.ultp-field-typography {
    .components-base-control {
        .components-base-control__field {
            display: block;
            .components-base-control__label {
                flex-grow: unset;
                margin-bottom: 8px;
            }
            .components-select-control__input {
                width: 100%;
            }
        }
    }
}

.ultp-field-typography,
.ultp-common-popup{
    padding: 25px;
    max-height: 400px;
    width: 290px;
    .components-base-control__label {
        font-weight: 400;
        font-size: 13px;
        color: #545454;
        margin-bottom: 8px;
    }
    .components-color-picker__body{
        padding: 10px;
    }
    .components-color-picker__inputs-wrapper {
        padding-top: 10px;
        margin: 0;
    }
    .ultp-field-color {
        margin-bottom: 0;
    }
}
.ultp-common-popup {
    .components-toggle-control {
        margin-bottom: 35px;
    }
}
.ultp-typo-family-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    margin-bottom: 15px;
}
.ultp-typo-style-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
}

.ultp-edit-btn {
    .ultp-base-control-btn {
        background: none;
        box-shadow: none;
        cursor: pointer;
        &.dashicons-edit {
            border: 1px solid #8c969f;
            padding: 3px 5px;
            border-radius: 3px;
            display: inline-block;
            width: auto;
            line-height: 1;
            height: auto;
            font-size: 16px;
            color: #555;
            border-color: #ccc;
            background: #f7f7f7;
            box-shadow: inset 0 -1px 0 #ccc;
            &.active {
                background: #0085ba;
                border-color: #006a95 #00648c #00648c;
                box-shadow: inset 0 -1px 0 #00648c;
                color: #fff;
                text-decoration: none;
            }
        }
        &.dashicons-image-rotate {
            margin-top: 5px;
            color: #9e9e9e;
            font-size: 14px;
            margin-right: 4px;
            &.active {
                color: #e62222;
            }
        }
    }
}
.ultp-popup-control {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    label {
        -ms-flex-positive: 1;
        flex-grow: 1;
        font-weight: 400;
        font-size: 13px;
        color: #545454;
        letter-spacing: .2px;
    }
    .ultp-field-wrap {
        margin-bottom: 0;
    }
}


.ultp-sub-field {
    .dashicons-image-rotate {
        color: #9e9e9e;
        font-size: 14px;
        &.active {
            color: #e62222;
        }
    }
}

/* -----------------------------
------- Color 2 Style --------
--------------------------------*/
.ultp-field-color2 {
    display: flex;
    align-items: center;
    .ultp-sub-field {
        margin-top: 0;
        margin-left: auto;
        align-items: center;
        .ultp-base-label {
            flex-grow: 1;
        }
    }
}

/* -----------------------------
--- Section, Style & Advanced --
--------------------------------*/
.ultp-section-tab{
    margin-top: 10px;
    margin-bottom: -16px;
    .ultp-section-wrap-inner {
        display: flex;
        justify-content: space-between;
    }
    .ultp-section-title{
        text-align: center;
        padding: 12px 5px;
        width: 100%;
        &:first-child {
            box-shadow: -1px 0 1px #e3e4e7;
        }
        &:hover{
            cursor: pointer;
            // border-color: #1740f5;
        }
        &.active{
            border-bottom: 0;
            background-color: #1740f5;
            box-shadow: inset 0 -2px 3px #102ca9;
            span {
                color: #fff;
            }
        }
        span{
            font-size: 12px;
            display: inline-block;
            color: #1c2126;
            font-weight: 600;
            &:before {
                top: 1px;
                position: relative;
                margin-right: 5px;
                font-size: 16px;
            }
        }
    }
    .ultp-section-wrap {
        &.ultp-section-fixed {
            position: sticky;
            top: -3px;
            background: #fff;
            z-index: 10000;
            -webkit-box-shadow: 0 -1px 0 0 rgba(23,64,245,.1);
            box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
        }
    }
}
.block-editor-block-inspector__advanced {
    margin-bottom: 35px !important;
}

/* -----------------------------
------- Media Style --------
--------------------------------*/
.ultp-field-media{ 
	label{
		margin-bottom: 10px;
		display: block;
	}
	.ultp-media-img{
        .ultp-media-image-item {
            position: relative;
            .ultp-image-close-icon {
                position: absolute;
                top: 2px;
                right: 78px;
                background: red;
                width: 13px;
                height: 13px;
                font-size: 12px;
                color: #fff;
                border-radius: 20px;
                line-height: 13px;
                padding: 0;
                margin: 0;
                cursor: pointer;
            }
        }
        .ultp-multiple-img {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-column-gap: 8px;
            grid-row-gap: 4px;
            .ultp-media-image-item span {
                right: 5px;
                top: 5px;
                font-size: 12px;
                line-height: 16px;
                height: 16px;
                width: 16px;
            }
        }
        > span {
            input {
                display: inline-block;
                border-radius: 4px 0 0 4px;
                margin-right: 0;
                width: 172px;
            }
        }
        .ultp-placeholder-image{
            display: inline-block;
            position: relative;
            cursor: copy;
            border-radius: 0 4px 4px 0;
            border: 1px solid #7e8993;
            padding: 6px 12px 4px 20px;
            border-left: 0;
            background: #f3f4f5;
            font-size: 12px;
            &:before {
                content: "\f317";
                font-family: dashicons;
                position: absolute;
                left: 6px;
                top: 5px;
                font-size: 14px;
            }
            cursor: copy;
            span{
                display: block;
                margin-top: 0;
                text-align: center;
            }
        }
    }
}

/* -----------------------------
------- Panel --------
--------------------------------*/
.ultp-section-accordion {
    .ultp-section-accordion-item {
        border-top: 1px solid #e2e4e7;
        color: #191e23;
        position: relative;
        padding: 15px 16px;
        cursor: pointer;
        transition: 400ms;
        font-weight: 600;
        &:hover {
            background: #f3f4f5;
        }
        .ultp-section-arrow {
            position: absolute;
            right: 15px;
            top: 50%;
            transform: translateY(-50%);
            color: #191e23;
            fill: currentColor;
            transition: color .1s ease-in-out;
        }
    }
    .ultp-section-show {
        margin-top: 0;
        padding: 0 15px;
    }
    &:last-child {
        .ultp-section-accordion-item {
            margin-bottom: 15px;
        }
    }
}


/* rnd */
.ultp-common-popup .ultp-field-color {
    position: relative;
    .ultp-color-popup {
        position: absolute;
        right: -1px;
        top: -176px;
        height: auto;
        width: 100%;
        z-index: 2;
        margin: 0 0;
        box-shadow: 0 3px 30px rgba(25,30,35,.1);
        border: 1px solid #e2e4e7;
        background: #fff;
        .components-color-picker__saturation {
            padding-bottom: 22%;
        }
    }
}
.editor-writing-flow{
    .ultp-flex-menu{
        text-transform: capitalize;
    }
}
.rotate{
    animation: rotate 1.5s linear infinite; 
}
@keyframes rotate{
    to{ transform: rotate(360deg); }
}